$skin-color:#ef3030; //replace this color code with your favorite one
$default-font:'Open Sans', sans-serif; //default font of this template
$title-font:'Great Vibes', cursive; // title font of this template


